.payment-form {
  border: 1px solid #aaa;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 1rem;

  label {
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
  }

  input {
    padding: 0.5rem 1rem;
    margin-bottom: 0.25rem;
  }
}

.payment-form__button {
  margin-bottom: 0.125rem;
}