.app {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
  padding: 0.5rem;

  > :first-child {
    flex-shrink: 0;
    margin-bottom: 0.5rem;
  }

  > :last-child {
    max-height: 50vh;
  }

  @media screen and (min-width: 550px) {
    flex-direction: row;
    height: 100%;

    > :first-child {
      flex-shrink: 1;
      margin-bottom: 0;
      margin-right: 0.5rem;
    }

    > :last-child {
      max-height: initial;
      width: 200px;
    }
  }
}
