@import '../../variables';

.main {
  border: 1px solid $grey;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0.5rem;

  h2 {
    margin-bottom: 2rem;
    text-align: center;
  }

  > * {
    flex-shrink: 0;
  }
}

.main__intro {
  margin-bottom: 2rem;

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.main__player-count {
  margin: 0 auto 2rem auto;
}

.main__donate {
  margin: auto auto 0 auto;
}
