@import '../../variables';

.main {
  border: 1px solid $grey;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin-right: 0.5rem;

  h2 {
    margin-bottom: 2rem;
    text-align: center;
  }
}

.main__intro {
  margin-bottom: 2rem;
}

.main__donate {
  margin: auto auto 0 auto;
}
