@import '../../variables';

.game {
  display: flex;
  flex-direction: column;
  margin: 0 auto 2rem auto;
}

.game__controls {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 280px;
}

.game__message {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
  text-align: center;
}

.game__remaining {
  margin: 0 0 1rem 0;
  text-align: center;
}

.game__reset {
  margin: 0 auto;
  width: 50%;
}

.game__reload {
  margin: 0 auto;
}

.game__choices {
  display: flex;
  flex-direction: row;
}

.game__choice {
  color: $grey;
  flex-grow: 1;

  &:first-child {
    margin-right: 1rem;

    &:not([disabled]) {
      color: green;
    }
  }

  &:last-child {
    margin-right: 0;

    &:not([disabled]) {
      color: red;
    }
  }
}

.game__choice--selected {
  &:not([disabled]) {
    text-decoration: underline;
  }
}
