.dilemma {
  margin-bottom: 1rem;
}

.dilemma__status {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.dilemma__choices {
  display: flex;
  flex-direction: row;
}

.dilemma__choice {
  flex-grow: 1;
  font-weight: bold;
  padding: 0.5rem 1rem;

  &:first-child {
    margin-right: 1rem;

    &:not([disabled]) {
      color: green;
    }
  }

  &:last-child {
    margin-right: 0;

    &:not([disabled]) {
      color: red;
    }
  }
}
