html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

html, body, button, input, select, option {
  font-family: monospace;
}

button {
  color: green;
  font-weight: bold;
  padding: 0.5rem 1rem;
}
